/**
 * Green theme variables for Super User
 *
 * @author Chris Zuber <shgysk8zer0@gmail.com>
 * @version 2.0.0
 */
@charset 'UTF-8';
@import '../base-theme/viewport.css';
@import '../core-css/fonts.css';
@import '../core-css/normalize.css';
@import '../core-css/animations.css' screen;
@import '../core-css/details.css';
@import '../core-css/dialog.css';
@import '../core-css/progress.css';
@import '../core-css/class_rules.css';
@import '../core-css/links.css';
@import '../core-css/misc.css';
@import '../base-theme/forms.css';
@import '../base-theme/header.css';
@import '../base-theme/main.css';
@import '../base-theme/aside.css';
@import '../base-theme/footer.css';
@import '../base-theme/address.css';
:root {
	/*================= Set color vars here =================*/
	--default-color: rgb(252, 252, 252);
	--alt-color: rgb(41, 41, 41);
	--primary-color: #18CC05;
	--highlight-color: #085011;
	--link-color: hsl(209, 62%, 45%);
	--border-color: rgb(45, 45, 45);
	--default-cursor: url('../../../images/cursors/Arch-black.svgz'), auto;
	--pointer: url('../../../images/cursors/3D_hand_cursor.svgz'), pointer;
	/*========== Set background images, etc here ==========*/
	--main-bg: url(../../images/backgrounds/dark_abstract.svgz);
	--glass-grad: linear-gradient(to top left, rgba(80, 80, 80, 0.7), rgba(140, 140, 140, 0.9), rgba(40, 40, 40, 0.7));
	--shadow: rgba(20, 20, 20, 0.9);
	--tint-glass: linear-gradient(rgba(40, 40, 40, 0.8), rgba(80, 80, 80, 0.7));
	--header-bg: linear-gradient(rgba(40, 40, 40, 1), rgba(80, 80, 80, 0.97));
	--progress-grad: linear-gradient(var(--highlight-color), var(--primary-color), var(--highlight-color));
	/*==================== Set fonts here ====================*/
	--header-font: 'PressStart';
	--article-font: 'Ubuntu';
	--article-header-font: var(--header-font);
	--icon-font: 'Web Symbols';
	/*================ Set various icons here ================*/
	--link-icon: '  K';
	--tag-icon: '  , ';
	--new-tab-icon: '  D';
	--download-icon: '  A';
	--next-icon: ')';
	--prev-icon: '(';
	--unchecked-icon: '  \\';
	--checked-icon: '  .';
	--dropdown-open-icon: '[ ';
	--dropdown-closed-icon: '] ';
	--close-icon: '\'';
	--search-icon: 'L';
	--attachmnent-icon: 'A';
	/*================== Set cursors here ==================*/
	--default-cursor: url('../../../images/cursors/Arch-black.svgz'), auto;
	--pointer: url('../../../images/cursors/3D_hand_cursor.svgz'), pointer;
	/*============= Various sizes and positions =============*/
	--main-width: 90%;
	--article-width: 67%;
	--sidebar-width: calc(97% - var(--article-width));
	--article-position: 2;
	--sidebar-position: 1;
}
:root {
	background-color: black;
	background-image: var(--main-bg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: var(--default-color);
	text-shadow: var(--shadow);
	cursor: var(--default-cursor);
}
@supports(background-blend-mode: initial) {
	:root.CSSsupports {
		background-color: var(--primary-color);
		background-blend-mode: multiply;
	}
}
@supports((display: flex) or (display: -webkit-flex) or (display: -ms-flex)) {
	body {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		text-rendering: optimizeSpeed;
		scroll-behavior: smooth;
	}
}

